@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --text: #192618;
  --bg: #5b8c57;
  --nav: #7cbf76;
  --link: #9df296;
  --line: #3a5937;
}


body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Lora', serif;
}

img {
  width: 50%;
}
#me {
  border-radius: 50%;
  max-width: 25%;
}

a {
  color: var(--link);
}

a:hover {
  color: white;
}

hr.line {
  background-color: var(--line);
}

#navbar {
  background-color: var(--nav);
}

#about {
  /*background-color: #A1E5AB;*/
  padding-top: 7%;
}

#content {
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  text-align: left;
  width: : 70%;
}

#bookCover {
  width: 20%;
/*}

#writing {
  background-color: #90BAAD;
}

#music {
  background-color: #8AA39B;
}

#devices {
  background-color: #8AA2A9;
}

#programming {
  background-color: #90BAAD;
}

#contact {
  background-color: #A1E5AB;

}
*/
#articlesPage {
  margin: 1%;
  background-color: #90BAAD;
  height: 120vh;
  padding-top: 7%;
}

#videos {
  margin: 1%;
  padding-top: 7%;
  height: 120vh;
  background-color: #8AA39B;
}
