@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --text: #0D1821;
  --bodyLink: #92654F;
  --bg: #B4CDED;
  --nav: #344966;
  --navLink: #F0F4EF;
  --line: #0D1821;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.normalNav .icon {
  display: none;
}

.dropdown {
  position: relative;
  background-color: var(--nav);
  width: 100%;
  top: 150px;
  text-align: center;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Lora', serif;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  padding: 5%;
  margin: -5%;
}

#writing p, #music p, #contact p, #about p {
  text-align: center;
}

a {
  text-decoration: none;
}

nav a {
  color: var(--navLink);
}

section a {
  color: var(--bodyLink);
}

a:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

img {
  max-width: 70%;
}

#navbar {
  background-color: var(--nav);
  width: 100%;
  height: 50px;
  position: fixed;
  margin-right: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#me {
  border-radius: 50%;
  max-width: 20%;
}

.line {
  background-color: var(--line);
}

#navbar > a {
  margin: 0 0.2rem;
  padding: 1rem;
}

#about {
  padding-top: 7%;
}

.column, .project {
  flex: 1 1 25vw;
  padding: 1%;
  margin: 0;
}

#about-content, .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#tech, #writing, #music, #about, .headings, #design {
  text-align: center;
}

.headings, a {
  font-family:'Courier New', Courier, monospace;
}

.headings {
  letter-spacing: -1.2px;
}

#tech, #writing, #music, #design {
  scroll-margin-top: 70px;
  padding: 0 1%;
}

.hardware-image {
  width: 40%;
  height: 40%;
}

p.column {
  width: 30%;
}

.project {
  max-width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.project:hover {
  border: solid white 1px;
}

.software {
  flex-wrap: wrap;
}

.project figure {
  min-width: 100%;
}

#longPedal {
  max-width: 25%;
}

#sprite {
  min-width: 70%;
}

#videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 0;
  padding-top: 7%;
  height: 120vh;
}

@media screen and (max-width: 600px) {

  p {
    font-size: 16px;
  }

  .normalNav a:not(:last-child) {
    display: none;
  }

  .normalNav a.icon {
    display: block;
  }

  .normalNav.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .normalNav.responsive > .icon {
    position: absolute;
    display: block;
    text-align: center;
  }

  .normalNav.responsive a {
    float: none;
    display: block;   
  }

  .row {
    flex-direction: column;
  }

  .project {
    min-width: 100%;
  }

  #about {
    padding: 15% 1% 0 1%;
  }
  #me {
    max-width: 33%;
    flex: auto;
  }

  #tech, #writing, #music {
    width: 80%;
    padding: 0 10%;
  }

  p {
    min-width: 80%;
    font-size: 14px;
  }

  .hardware-image {
    min-width: 100%;
  }
}
