:root {
	--squareSize: 60px;
	--squaresPerRow: 16;
	--canvas: 960px;
}

h1 {
	text-align: center;
}

#controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sizer {
	margin: 1%;
}

#gridCanvas {
	display: flex;
	flex-wrap: wrap;
	width: var(--canvas);
	align-items: center;
	justify-content: center;
	margin: auto;
}

.square {
	box-sizing: border-box;
	height: var(--squareSize);
	width: var(--squareSize);
	border: solid grey 1px;
	margin: 0;
/*	flex-basis: var(--squareSize)px;*/
}