#gridContainer {
	display: flex;
	flex-wrap: wrap;
	width: 256px;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.square {
	box-sizing: border-box;
	height: 64px;
	width: 64px;
	border: solid grey 1px;
	margin: 0;
}